<div class="templates-all">

  <nav _ngcontent-c4="" class="navbar navbar-expand-lg bg-primary">
    <div _ngcontent-c4="" class="container">
      <div _ngcontent-c4="" class="navbar-translate">
        <a _ngcontent-c4="" class="navbar-brand">MI PERFIL</a>
        <button _ngcontent-c4="" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" class="navbar-toggler" data-target="#example-navbar-primary"
                data-toggle="collapse" type="button">
          <span _ngcontent-c4="" class="navbar-toggler-bar bar1"></span>
          <span _ngcontent-c4="" class="navbar-toggler-bar bar2"></span>
          <span _ngcontent-c4="" class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div _ngcontent-c3="" class="col-sm-6 col-lg-3">
        <div _ngcontent-c3="" class="input-group">
          <!--          <div _ngcontent-c3="" class="input-group-prepend">-->
          <!--            <span _ngcontent-c3="" class="input-group-text"><i _ngcontent-c3="" class="fa fa-search"></i>-->
          <!--            </span>-->
          <!--          </div>-->
          <!--          <input (keyup)="onKey($event)" _ngcontent-c3="" class="form-control" placeholder="Buscar ciudad" type="text">-->
        </div>
      </div>
      <div _ngcontent-c4="" class="collapse navbar-collapse" id="example-navbar-primary">
        <ul _ngcontent-c4="" class="navbar-nav ml-auto">
          <li _ngcontent-c4="" class="nav-item ">
            <a (click)="onProducts()" _ngcontent-c4="" class="nav-link">

              <i _ngcontent-c4="" class="now-ui-icons shopping_shop"></i>
              <p _ngcontent-c4="">PRODUCTOS</p>
            </a>
          </li>
          <li _ngcontent-c4="" class="nav-item">
            <a (click)="onCook()" _ngcontent-c4="" class="nav-link">
              <i _ngcontent-c4="" class="now-ui-icons users_circle-08"></i>
              <p _ngcontent-c4="">COCINEROS</p>
            </a>
          </li>
          <li _ngcontent-c4="" class="nav-item">
            <a _ngcontent-c4="" class="nav-link"><i _ngcontent-c4=""
                                                    class="now-ui-icons ui-1_settings-gear-63"></i>
              <p _ngcontent-c4="">MI PERFIL</p>
            </a>
          </li>


        </ul>

      </div>

    </div>

  </nav>


  <div style="max-width: 70%; margin: 0 auto">
    <div [style.backgroundColor]="'white'" class="card">
      <div class="card-header">
        <div style="text-align: center">
          <img alt="Card image cap" src=""
               style="border-radius:50%; width: 70px; height: 70px; border-style: solid; border-color: #2CA8FF ; border-width: 1px;">

          <h3>{{data.name}}</h3>
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="PRODUCTOS">
          <div class="card-body">
            <div class="row">
              <div *ngFor="let row of productos, index as i" class="col-sm-4">
                <div class="card text-center bg-light mb-5 " style="width: 18rem; margin: 0 auto">
                  <img alt="Card image cap" class="card-img-top" src="{{row.imagen}}"
                       style="width: 400px; height: 300px; object-fit: cover; ">
                  <div class="card-header">{{row.name}}</div>
                  <div class="card-body">
                    <h5 class="card-title">{{row.price}}</h5>
                    <p class="card-text">{{row.description}}</p>
                    <app-star-rating [color]="starColor" [starCount]=5
                                     rating="{{row.finalValuation}}"></app-star-rating>

                    <button (click)="onSelect(row._id)" class="btn btn-primary btn-sm" type="button">Ir a producto
                    </button>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="INFORMACIÓN">
          <app-perfil-informacion
            (messageEvent)="receiveMessage($event)"
            [data]="data"
            [edit]="edit"
            [form]="form"
            [receivedType]="data.type"
          >
          </app-perfil-informacion>
          <div style="float:right; margin-right: 50px; margin-top: -55px">
            <button (click)="onCancel()" class="btn btn-secondary btn-sm">CANCELAR</button>
            <button (click)="onSave()" [disabled]="form.invalid" class=" btn btn-success btn-sm">GUARDAR
            </button>
          </div>

          <app-alert *ngIf="updated" [text]="'Datos actualizados con éxito'"></app-alert>
        </mat-tab>
        <mat-tab label="OPINIONES"> Content 3</mat-tab>
      </mat-tab-group>

    </div>

  </div>

</div>
