<div class="row" style="margin-left: 30px">
  <div>
    <div class="card-body">
      <img src=""
           style="width: 500px; height: 500px; object-fit: cover; -webkit-border-radius: 10px; border-radius: 10px;">
    </div>
  </div>
  <div>

    <div class="card-body">
      <!--      <app-input [edit]="edit" [form]="form" [key]='"name"'-->
      <!--                 [label]='"Nombre"'></app-input>-->
      <!--      <app-input [edit]="edit" [form]="form" [key]='"type"'-->
      <!--                 [label]='"Categoria"'></app-input>-->
      <!--      <div class="dropdown-divider"></div>-->
      <!--      <h5 class="card-title">UBICACIÓN</h5>-->
      <!--      <app-input [edit]="edit" [form]="form" [key]='"adress"'-->
      <!--                 [label]='"Direccion"'></app-input>-->
      <!--      <app-input [edit]="edit" [form]="form" [key]='"city"'-->
      <!--                 [label]='"Ciudad"'></app-input>-->
      <!--      <div class="dropdown-divider"></div>-->
      <!--      <h5 class="card-title">CONTACTO</h5>-->
      <!--      <app-input [edit]="edit" [form]="form" [key]='"telf"'-->
      <!--                 [label]='"Teléfono"'></app-input>-->


      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DATOS PERSONALES
            </mat-panel-title>
            <mat-panel-description>
              Nombre y tipo de usuario
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-input [edit]="edit" [form]="form" [key]='"name"'
                     [label]='"Nombre"'></app-input>
          <app-input [edit]="edit" [form]="form" [key]='"type"'
                     [label]='"Categoria"'></app-input>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              UBICACIÓN
            </mat-panel-title>
            <mat-panel-description>
              Dirección y Ciudad
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-input [edit]="edit" [form]="form" [key]='"adress"'
                     [label]='"Direccion"'></app-input>
          <app-input [edit]="edit" [form]="form" [key]='"city"'
                     [label]='"Ciudad"'></app-input>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              CONTACTO
            </mat-panel-title>
            <mat-panel-description>
              Teléfono y Email
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-input [edit]="edit" [form]="form" [key]='"telf"'
                     [label]='"Teléfono"'></app-input>
          <app-input [edit]="edit" [form]="form" [key]='"mail"'
                     [label]='"Email"'></app-input>
        </mat-expansion-panel>

      </mat-accordion>


    </div>
  </div>
</div>
