.form-center {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  min-width: 300px;
  min-height: 400px;
}

.container {
  padding-top: 250px;
}

h1, p{
  color: black;
  padding: 30px;
}

.form-group {
  padding: 20px;
}
