<div class="templates-all">

  <nav _ngcontent-c4="" class="navbar navbar-expand-lg bg-primary">
    <div _ngcontent-c4="" class="container">
      <div _ngcontent-c4="" class="navbar-translate">
        <a _ngcontent-c4="" class="navbar-brand">PRODUCTOS</a>
        <button _ngcontent-c4="" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" class="navbar-toggler" data-target="#example-navbar-primary"
                data-toggle="collapse" type="button">
          <span _ngcontent-c4="" class="navbar-toggler-bar bar1"></span>
          <span _ngcontent-c4="" class="navbar-toggler-bar bar2"></span>
          <span _ngcontent-c4="" class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div _ngcontent-c3="" class="col-sm-6 col-lg-3">
        <div _ngcontent-c3="" class="input-group">
          <div _ngcontent-c3="" class="input-group-prepend">
            <span _ngcontent-c3="" class="input-group-text"><i _ngcontent-c3="" class="fa fa-search"></i>
            </span>
          </div>
          <input (keyup)="onKey($event)" _ngcontent-c3="" class="form-control" placeholder="Buscar ciudad" type="text">
        </div>
      </div>
      <div _ngcontent-c4="" class="collapse navbar-collapse" id="example-navbar-primary">
        <ul _ngcontent-c4="" class="navbar-nav ml-auto">
          <li _ngcontent-c4="" class="nav-item active">
            <a _ngcontent-c4="" class="nav-link">

              <i _ngcontent-c4="" class="now-ui-icons shopping_shop"></i>
              <p _ngcontent-c4="">PRODUCTOS</p>
            </a>
          </li>
          <li _ngcontent-c4="" class="nav-item">
            <a (click)="onCook()" _ngcontent-c4="" class="nav-link">
              <i _ngcontent-c4="" class="now-ui-icons users_circle-08"></i>
              <p _ngcontent-c4="">COCINEROS</p>
            </a>
          </li>
          <li _ngcontent-c4="" class="nav-item">
            <a _ngcontent-c4="" class="nav-link"><i _ngcontent-c4=""
                                                    class="now-ui-icons ui-1_settings-gear-63"></i>
              <p _ngcontent-c4="">MI PERFIL</p>
            </a>
          </li>


        </ul>

      </div>

    </div>

  </nav>

  <!--  <div class="table-static">-->
  <!--    <table class="table table-sm">-->
  <!--      <thead>-->
  <!--      <tr>-->
  <!--        <th>ID</th>-->
  <!--        <th>Nombre</th>-->
  <!--        <th>Tipo</th>-->
  <!--        <th>ingredientes</th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <!--      <tr *ngFor="let row of productos, index as i">-->
  <!--        <td>{{row._id}}</td>-->
  <!--        <td (click)="onSelect(row._id)">{{row.nombre}}</td>-->
  <!--        <td>{{row.tipo}}</td>-->
  <!--        <td>{{row.ingredientes}}</td>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </div>-->


  <div style="max-width: 70%; margin: 0 auto">
    <div [style.backgroundColor]="'white'" class="card">
      <div class="card-header">
        <mat-form-field>
          <mat-label>Elige una categoria</mat-label>
          <mat-select (ngModelChange)="selectOption($event)" [ngModel]="tipoProd">
            <mat-option *ngFor="let tipo of tipoProd" [value]="tipo">
              {{ tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div [style.backgroundColor]="'white'" class="card-header">

        <h3 style="text-align: center">Productos en {{search}}</h3>
      </div>

      <div class="card-body">
        <div *ngIf="loaded"> no hay nada premoh</div>

        <div class="row">
          <div *ngFor="let row of productos, index as i" class="col-sm-4">
            <div class="card text-center bg-light mb-5 " style="width: 18rem; margin: 0 auto">
              <img alt="Card image cap" class="card-img-top" src="{{row.imagen}}"
                   style="width: 400px; height: 300px; object-fit: cover; ">
              <div class="card-header">{{row.name}}</div>
              <div class="card-body">
                <h5 class="card-title">{{row.price}}</h5>
                <p class="card-text">{{row.description}}</p>
                <app-star-rating [color]="starColor" [starCount]=5 rating="{{row.finalValuation}}"></app-star-rating>

                <button (click)="onSelect(row._id)" class="btn btn-primary btn-sm" type="button">Ir a producto</button>

              </div>
            </div>
          </div>
        </div>


        <!--  <div class="row">-->

        <!--    <div *ngFor="let row of productos, index as i" class="col-sm-3">-->

        <!--      <mat-card class="example-card" style="max-width: 18rem;">-->
        <!--        <mat-card-header>-->
        <!--          <div mat-card-avatar>-->
        <!--            <img mat-card-image src="{{row.imagen}}">-->
        <!--          </div>-->
        <!--          <mat-card-title>{{row.nombre}}</mat-card-title>-->
        <!--          <mat-card-subtitle>{{row.tipo}}</mat-card-subtitle>-->
        <!--        </mat-card-header>-->
        <!--        <img mat-card-image src="{{row.imagen}}">-->
        <!--        <mat-card-content>-->
        <!--          <p>-->
        <!--            {{row.descripcion}}-->
        <!--          </p>-->
        <!--        </mat-card-content>-->
        <!--        <mat-card-actions>-->
        <!--          <app-star-rating [color]="starColor" [starCount]=5 rating="{{row.valoracion}}"></app-star-rating>-->

        <!--          <button mat-button>LIKE</button>-->
        <!--          <button mat-button>SHARE</button>-->
        <!--        </mat-card-actions>-->
        <!--      </mat-card>-->
        <!--    </div>-->


        <!--    -->
        <!--  </div>-->
      </div>
    </div>
  </div>


</div>
