<div class="templates-all">

  <nav _ngcontent-c4="" class="navbar navbar-expand-lg bg-primary">
    <div _ngcontent-c4="" class="container">
      <div _ngcontent-c4="" class="navbar-translate">
        <a _ngcontent-c4="" class="navbar-brand" href="#pablo">PRODUCTOS</a>
        <button _ngcontent-c4="" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" class="navbar-toggler" data-target="#example-navbar-primary"
                data-toggle="collapse" type="button">
          <span _ngcontent-c4="" class="navbar-toggler-bar bar1"></span>
          <span _ngcontent-c4="" class="navbar-toggler-bar bar2"></span>
          <span _ngcontent-c4="" class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div _ngcontent-c3="" class="col-sm-6 col-lg-3">
        <div _ngcontent-c3="" class="input-group">
          <div _ngcontent-c3="" class="input-group-prepend">
            <span _ngcontent-c3="" class="input-group-text"><i _ngcontent-c3="" class="fa fa-search"></i></span>
          </div>
          <input _ngcontent-c3="" class="form-control" placeholder="Buscar ciudad" type="text">
        </div>
      </div>
      <div _ngcontent-c4="" class="collapse navbar-collapse" id="example-navbar-primary">
        <ul _ngcontent-c4="" class="navbar-nav ml-auto">
          <li _ngcontent-c4="" class="nav-item active">
            <a _ngcontent-c4="" class="nav-link">

              <i _ngcontent-c4="" class="now-ui-icons shopping_shop"></i>
              <p _ngcontent-c4="">PRODUCTOS</p>
            </a>
          </li>
          <li _ngcontent-c4="" class="nav-item">
            <a (click)="onCook()" _ngcontent-c4="" class="nav-link">
              <i _ngcontent-c4="" class="now-ui-icons users_circle-08"></i>
              <p _ngcontent-c4="">COCINEROS</p>
            </a>
          </li>
          <li _ngcontent-c4="" class="nav-item">
            <a _ngcontent-c4="" class="nav-link"><i _ngcontent-c4=""
                                                    class="now-ui-icons ui-1_settings-gear-63"></i>
              <p _ngcontent-c4="">MI PERFIL</p>
            </a>
          </li>


        </ul>

      </div>

    </div>

  </nav>

  <div class="table-static">
    <table class="table table-sm">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>ingredientes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of productos, index as i">
        <td>{{row._id}}</td>
        <td (click)="onSelect(row._id)">{{row.nombre}}</td>
        <td>{{row.tipo}}</td>
        <td>{{row.ingredientes}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div _ngcontent-c2="" class="card">
    <div _ngcontent-c2="" class="nav-tabs-navigation">
      <div _ngcontent-c2="" class="nav-tabs-wrapper">
        <ngb-tabset _ngcontent-c2="" class="text-center">
          <ul class="nav nav-tabs justify-content-center" role="tablist"><!---->
            <li class="nav-item">
              <a aria-controls="ngb-tab-0-panel" aria-disabled="false" aria-expanded="true" class="nav-link active"
                 href=""
                 id="ngb-tab-0" role="tab"> <!----><i _ngcontent-c2=""
                                                      class="now-ui-icons objects_umbrella-13"></i>
                Home
              </a>
            </li>
          </ul>
          <div class="tab-content"><!----><!---->
            <div aria-expanded="true" aria-labelledby="ngb-tab-0" class="tab-pane active" id="ngb-tab-0-panel"
                 role="tabpanel"><!---->
              <p _ngcontent-c2="">I think that’s a responsibility that I have, to push possibilities, to show people,
                this is the level that things could be at. So when you get something that has the name Kanye West on it,
                it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up
                being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.
              </p>
            </div><!----><!----><!----><!----><!----><!----><!----></div>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
