<div class="header-position">
  <div class="container">
    <div class="container ng-scope p-3">
      <h2 class="text-center">Condiciones de uso del sitio "LOCALFOOD"</h2>
      <p>
        El sitio <a href="/index">localfood.co</a>	(en lo sucesivo	denominada	“LOCALFOOD”,	“nosotros”	o	“nuestro”)	ofrece	una	plataforma
        en	Internet	que	conecta	cocineros	con	clientes	que	buscan	contratar	sus	servicios	gastronómicos	(en	lo
        Sucesivo,	los	“Servicios”),	a	los	cuales	pueden	acceder	en <a href="/index">https://localfood.co</a>.
      </p>
      <p>
        Al	utilizar	la	página	web,	usted	acepta	cumplir	los	términos	y	condiciones	de	estos	Términos	de	Servicio
        (los	“Términos”)	y	estar	legalmente	vinculado	a	ellos,	se	convierta	o	no	en	un	usuario	registrado	en	los
        servicios.	Estos	Términos	rigen	su	acceso	y	uso	de	la	página	y	los	servicios,	así	como	todos	los	contenidos
        colectivos	(definidos	a	continuación)	y	su	participación	en	el	programa	de	referencias	(definido	a
        continuación)	y	constituyen,	asimismo,	un	contrato	vinculante	entre	usted	y	LOCALFOOD.
      </p>
      <p>
        LocalFood podrá	revisar	y	actualizar	estas	Condiciones	en	cualquier	momento	y	sin	previo	aviso.	Le
        recomendamos	que	consulte	periódicamente	las	Condiciones	de	Uso	publicadas	en	este	sitio.	Al	seguir
        accediendo	y	usando	este	sitio	después	de	cualquier	modificación,	se	entenderá	que	Usted	acepta
        dichas	modificaciones.
      </p>
      <p>
        Cualquier	incumplimiento	de	los	términos	aquí	expuestos,	facultará	a	LocalFood	para	eliminar	su	Cuenta	de
        Usuario.	Mediante	la	aceptación	de	estos	términos,	confirma	que	LocalFood	no	será	responsable	del
        contenido	publicado	relativo	a	los	Servicios	ofertados,	por	lo	que	consiente	hacer	uso	de	los	mismos
        bajo	su	propia	responsabilidad	y	riesgo.
      </p>
      <p>
        No	podrá	interferir	en	los	sistemas	de	seguridad	de	este	sitio	ni	hacer	un	uso	inadecuado	del	mismo	ni
        de	los	recursos	del	sistema,	servicios	o	redes	conectadas	a	la	web	o	accesibles	a	través	de	ella.
        Únicamente	podrá	hacer	uso	del	sitio	con	fines	legales.
      </p>
      <p>
        ES	IMPORTANTE	QUE	USTED	SEPA	QUE	LOCALFOOD	ES	UN	MERO	INTERMEDIARIO	DE	SERVICIOS	ENTRE
        USUARIOS	Y	COCINEROS, Y	NO	OFRECE	SERVICIOS	DE	CATERING,	PREPARACIÓN	O	ENTREGA	DE
        COMIDA.	LOCALFOOD	NO	CONTROLA	NI SE	HACE	RESPONSABLE	DE	LOS	SERVICIOS	OFRECIDOS	POR	LOS
        COCINEROS	QUE	SE	ANUNCIAN	EN	NUESTRA	WEB.	NO	ELEGIMOS	SUS	MENÚS,	NI	LOS	INGREDIENTES	NI
        EL	NIVEL	DE	CALIDAD	QUE	DEBERÍAN	OFRECER	A	TRAVÉS	DE	NUESTRA	WEB,	POR	LO	QUE	LA
        RESPONSABILIDAD	DERIVADA	DE	LOS	SERVICIOS	PRESTADOS,	CORRESPONDERÁ	EN	CUALQUIER	CASO	AL
        COCINERO	Y	A	USTED	COMO	USUARIO,	QUE	DEBERÁ	TOMAR	TODAS	LAS	PRECAUCIONES	NECESARIAS
        PARA	PROTEGER	SU	SALUD	Y	SEGURIDAD.	NO	PODEMOS	ASEGURAR	LA	BUENA	FE	DE	TODOS	LOS
        USUARIOS	DE	LA	WEB.
      </p>


      <h3>Limitación	de	Garantías	y	Responsabilidad	de	LocalFood</h3>
      <p>
        Usted	se	compromete	a	indemnizar,	defender	y	mantener	indemne	a	LocalFood,	sus	filiales,	proveedores	de
        Contenido	y	sus	respectivos	administradores,	directivos,	empleados,	accionistas,	socios	y	agentes
        (denominados	conjuntamente	"las	Partes”) de	cualquier	reclamación,	demanda,	pérdida,	daños,	costes
        y	gastos	(incluyendo	los	honorarios	razonables	de	un	letrado	según	el	cliente)	en	los	que	pudiera	incurrir
        cualquier	Parte	de	LocalFood	como	resultado	de	o	como	consecuencia	de	que	Usted	o	alguien	que	actúe	en
        su	nombre	incumpliera	o	presuntamente	cualquier	término	del	presente	Acuerdo.
      </p>
      <p>
        (c)	EN	NINGÚN	CASO	LOCALFOOD	NI	SUS	FILIALES,	PROVEEDORES	DE	CONTENIDO,	ASÍ	COMO	TAMPOCO	SUS
        RESPECTIVOS	ADMINISTRADORES,	DIRECTIVOS,	EMPLEADOS,	ACCIONISTAS,	SOCIOS	O	AGENTES	SERÁN
        RESPONSABLES	DE	CUALQUIER	DAÑO	FORTUITO,	INDIRECTO,	PUNITIVO,	EJEMPLAR	O	DERIVADO
        (INCLUYENDO	DAÑOS	POR	PÉRDIDA	DE	BENEFICIOS	EMPRESARIALES,	INTERRUPCIONES,	PÉRDIDA	DE
        INFORMACIÓN	EMPRESARIAL	U	OTRAS	PÉRDIDAS	PECUNIARIAS) DERIVADO	DE	CUALQUIER
        RECLAMACIÓN,	PÉRDIDA,	DAÑO,	ACCIÓN,	JUICIO	U	OTROS	PROCEDIMIENTOS	QUE	SURJAN	BAJO	LOS
        TÉRMINOS	O	POR	CAUSA	DE	ESTE	ACUERDO,	INCLUIDOS,	SIN	LIMITACIÓN,LA	INSATISFACCION	CON	EL
        SERVICIO	RECIBIDO,	CALIDAD	ESPERADA,	RESULTADO	O	APARIENCIA	DE	LA	COMIDA	PREPARADA,	ASÍ
        COMO	DE	DERECHOS	CONCEDIDOS	A	USTED	EN	VIRTUD	DEL	PRESENTE	ACUERDO,	INCLUSO	SI
        NOSOTROS	HEMOS	SIDO	ADVERTIDOS	DE	LA	POSIBILIDAD	DE	DICHOS	DAÑOS	E	INDEPENDIENTEMENTE
        DE	QUE	LA	ACCIÓN	SE	BASE	EN	UN	CONTRATO,	ILÍCITO	CIVIL	(INCLUYENDO	LA	NEGLIGENCIA),	ENTRE
        OTROS.	NINGUNA	ACCIÓN,INDEPENDIENTEMENTE	DE	SU	FORMA	O	NATURALEZA,	QUE	SE	DERIVE	DE
        ESTE	ACUERDO,	PODRÁ	INTERPONERSE	POR	USTED	O	EN	SU	NOMBRE	UNA	VEZ	TRANSCURRIDOS	DOS
        (2)	AÑOS	DESDE	QUE	SURGIERA	LA	CAUSA	DE	ACCIÓN.
      </p>
      <p>
        (d)	SIN	PERJUICIO	DE	CUALQUIER	OTRO	TÉRMINO	EXPUESTO	EN	EL	PRESENTE	ACUERDO,	LOCALFOOD	NO	SE
        HARÁ	RESPONSABLE	DE	LOS	DAÑOS,	COSTES	O	PÉRDIDAS	SUFRIDOS	COMO	RESULTADO	DE
        MODIFICACIONES	EN	EL	SERVICIO	HECHAS	POR	USTED	O	CUANDO	SE	REALICEN	FUERA	DEL	CONTEXTO
        DE	ESTA	WEB	DIRECTAMENTE	CON	EL	COCINERO	CONTRATADO.
      </p>
      <p>
        (e)	La	contratación	de	los	Servicios	anunciados	por	LocalFood	y	elección	de	tipo	de	servicio,	cocinero,	calidad
        de	la	comida	preparada, verificación	de	que	el	cocinero	cumple	con	los	requisitos	legales	y	sanitarios
        para	la	realización	de	dichos	servicios,	se	harán	bajo	su	riesgo	y	responsabilidad.	LocalFood	no	será
        responsable	por	negligencia	de	la	falta	de	veracidad	de	los	Servicios	ofertados	por	los	cocineros	que	aquí
        se	anuncian	ni	por	los	daños	derivados	de	la	actuación	de	los	mismos	a	terceros.
      </p>
      <p>
        (f)	El	usuario	deberá	reclamar	responsabilidad	si	correspondiera,	al	cocinero	contratado	y	en	caso	de	no
        haber	responsabilidad	determinable,	el	usuario	siempre	podrá	valorar	con	su	opinión	el	servicio
        recibido,	siendo	este	el	mejor	garante	para	la	excelencia	del	servicio	y	la	información	al	usuario
        interesado	en	futuros	servicios	de	dicho	profesional.
      </p>
      <p>
        (a)	Siempre	y	cuando	el	Contenido	sea	utilizado	de	acuerdo	con	los	términos	del	presente	Acuerdo	y
        Usted	no	incurra	de	ninguna	otra	forma	en	incumplimiento	del	mismo,	y	teniendo	en	cuenta	que,	como
        única	y	exclusiva	compensación	por	cualquier	incumplimiento	de	las	declaraciones	y	garantías
        establecidas	en	estos	términos,	se	indemnizará	con	un	máximo	de	120€	a	la	parte	afectada.	Únicamente
        corresponderá	dicha	indemnización,	si	LocalFood	no	puede	cumplir	con	dichas	obligaciones y	el	importe
        máximo	de	la	indemnización	será	de	120€	por	todos	los	conceptos	y	afectados	bajo	un	mismo	caso.
        Todo	lo	anterior	constituye,	la	declaración	completa	de	las	obligaciones	de	indemnización	de	LocalFood	en
        virtud	del	presente	Acuerdo.
      </p>
      <p>
        (b)	La	indemnización	anteriormente	expuesta,	estará	condicionada	a	que	Usted	notifique	por	escrito	y
        de	inmediato	a	LocalFood	de	la	existencia	de	dicha	reclamación y	de	nuestro	derecho	a	asumir	la	gestión,	el
        acuerdo	o	la	defensa	de	cualquier	reclamación	o	litigio.	Usted	acuerda	cooperar	con	LocalFood	en	la	defensa
        de	dicha	reclamación	o	litigio	y	podrá	tener	el	derecho	de	participar	en	dicho	litigio	bajo	su	única
        responsabilidad.	LocalFood	no	se	hará	responsable	de	los	gastos	legales	y	otros	gastos	incurridos	con
        anterioridad	a	la	notificación	de	la	reclamación.
      </p>

      <h3>Cuentas de Usuario</h3>
      <p>
        Los	 usuarios	 que	 deseen	 registrarse	 en	 el	 sitio	 web	 deberán	 ser	 mayores	 de	 18	 años	 y	 contar	 con
        capacidad	legal	plena.
      </p>
      <h4>Creación de una cuenta de usuario</h4>
      <p>
        Para	crear	una	cuenta	de	usuario	ubicada	en	el	site	LocalFood.co,	deberá	aceptar	estas	Condiciones	de	Uso,
        facilitar	una	dirección	válida	de	correo	electrónico	y	cualquier	otra	información	requerida	durante	el
        proceso	de	registro.	Usted	es	responsable	de	facilitar	información	completa	y	veraz durante	su	registro
        para	obtener	una	Cuenta	de	Usuario.	Es	responsable	de	comunicar	a	LocalFood	cualquier	cambio	en	la
        información	contenida	en	la	misma	y	de	mantener	la	seguridad	de	su	cuenta	así	como	de	la	privacidad
        de	la	contraseña	asociada	a	la	misma.	También	es	responsable	de	todo	el	contenido	publicado	en	la	web
        o	través	de	nuestros	servicios,	en	uso	de	su	cuenta	de	usuario,	y	de	cualquier	otra	actividad	derivada	del
        uso	de	la	misma.	Nos	reservamos	el	derecho	a	denegar	el	registro	y	acceso	de	cualquier	persona	a
        nuestros	Servicios
      </p>
      <p>
        La	compañía	se	reserva	el	derecho	a	eliminar	o	quitar	contenido	publicado	por	los	usuarios	en	el	sitio,
        incluidos	perfiles	de	cocineros	y	a	restringir,	suspender	o	anular	el	acceso	a	todo	o	parte	de	este	sitio,	sin
        previo	aviso	ni	responsabilidad.	La	compañía	podrá	revisar	cualquier	contenido	publicado	por	los
        usuarios	o	cocineros.
      </p>

      <h3>Disposiciones Generales</h3>
      <p>
        (a)	El	hecho	de	que	LocalFood no	persevere	en	el	estricto	cumplimiento	de	cualquier	cláusula	de	este
        Acuerdo	no	se	interpretará	como	una	renuncia	a	ella	ni	a	ninguno	de	sus	derechos.
      </p>
      <p>
        El	presente	Acuerdo	le	vincula	a	Usted	y	no	podrá	asignarlo	a	terceros	sin	el	consentimiento	previo	y	por
        escrito	de	LocalFood.	LocalFood podrá	asignar	este	Acuerdo	a	cualquier	otra	parte	sin	el	consentimiento	de
        Usted	siempre	que	la	tercera	parte	acepte	vincularse	a	sus	términos.
      </p>
      <p>
        (b)	Para	mayor	información,	rogamos	nos	contacte	en support@localfood.co
      </p>

      <h3>Propiedad intelectual</h3>
      <p>
        Todos	los	contenidos	(incluidas	la	organización	y	presentación	de	dichos	contenidos)	de	este	sitio	web
        (denominados	en	lo	sucesivo	"los	Contenidos")	son	propiedad	de	LocalFood y	sus	concedentes, y	están
        protegidas	por	las	leyes	de	propiedad	intelectual	entre	las	que	se	incluyen	leyes	sobre	copyright,	marcas
        comerciales,	nombres	comerciales,	nombres	de	dominios	de	Internet	y	derechos	similares.
      </p>
      <p>
        El	diseño	de	LocalFood,	LocalFood,	y	el	nombre	o	el	eslogan	de	cualquier	otro	producto	o	servicio	incluidos	en	el
        Sitio	son	marcas	comerciales	de	LocalFood y	de	sus	proveedores	o	licenciantes.	No	se	podrán	copiar,	imitar
        ni	usar,	parcial	o	totalmente,	sin	el	consentimiento	previo	por	escrito de	LocalFood o	del	titular	de	la	marca
        comercial	aplicable.	No	podrá	utilizar	metaetiquetas	ni	cualquier	otro	"texto	oculto"	que	incluya
        "LocalFood"	o	cualquier	otro	nombre,	marca	comercial	o	nombre	de	servicio	o	producto	de	LocalFood sin
        nuestro	permiso	previo	por	escrito.	Además,	el	aspecto	del	Sitio,	incluidos	los	encabezados	de	página,	los	gráficos	personalizados,	los	iconos	de	botón	y	los	archivos	de	comando,	conforman	la	marca	de
        servicio,	la	marca	comercial	y	la	imagen	comercial	de	LocalFood y	no	se	podrán	copiar,	imitar	ni	utilizar,	de
        forma	total	o	parcial,	sin	nuestro	permiso	previo	por	escrito.	El	resto	de	las	marcas	comerciales,	las
        marcas	registradas,	los	nombres	de	productos	y	los	nombres	de	empresas	o	logotipos	que	se	mencionan
        en	el	Sitio	son	propiedad	de	sus	respectivos	titulares.	Las	referencias	a	productos,	servicios,	procesos	u
        otra	información	por	medio	de	un	nombre	comercial,	una	marca,	un	proveedor	u	otros	no	constituye	ni
        implica	aprobación,	patrocinio	o	recomendación	por	nuestra	parte.
      </p>

      <h3>Protección de Datos y Privacidad</h3>
      <p>
        Para	utilizar	algunos	de	los	servicios,	los	usuarios	deben	proporcionar	previamente	ciertos	datos	de
        carácter	personal.	Para	ello,	LocalFood tratará	automatizadamente los	datos	personales	en	cumplimiento
        con	la	Ley	15/1999	de	13	de	diciembre	de	Protección	de	Datos	de	Carácter	Personal	(en	adelante	LOPD)
        y	el	RD	de	desarrollo	1720/2007	(en	adelante	RD).	Para	ello,	el	usuario	puede	acceder	a	la	política
        seguida	en	el	tratamiento	de	los	datos	personales	así	como	el	establecimiento	de	las	finalidades
        previamente	establecidas,	a	lo	dispuesto	en	las	condiciones	definidas	en	la	Política	de	Protección	de
        Datos	que	presenta	sitio	web.
      </p>

      <h3>Suspensión del servicio</h3>
      <p>
        LocalFood	queda	facultado	para	suspender	el	Servicio, a	su	propia	discreción	por	cualquier	razón	cualquiera
        que	 sea,	 incluyendo	 pero	 no	 limitado	 a,	 reparaciones,	 mantenimiento o	 actualizaciones, y	 no	 será
        responsable	de	ninguna	pérdida,	daño,	coste	o	gasto	achacable	a	esa	suspensión	o	indisponibilidad	del
        Sitio.
      </p>
      <p>
        LocalFood	se	reserva	el	derecho	de	realizar	cualquier	cambio	en	el	funcionamiento	y	contenido	del	sitio	sin
        tener	que	obligación	de	notificarlo.
      </p>

      <h3>Aceptación</h3>
      <p>
        USTED	RECONOCE	HABER	LEÍDO	Y	ENTENDIDO	ESTE	ACUERDO	Y	HABER	TENIDO	LA	OPORTUNIDAD	DE
        CONSULTAR	CON	UN	ASESOR	LEGAL	INDEPENDIENTE	ANTES	DE	SU	FORMALIZACIÓN.	USTED	SE
        COMPROMETE	A	CUMPLIR	LAS	CLÁUSULAS	Y	CONDICIONES	DE	ESTE	ACUERDO.	ASIMISMO	RECONOCE
        QUE	EL	PRESENTE	ES	EL	ACUERDO	ÍNTEGRO	Y	EXCLUSIVO	FORMALIZADO	ENTRE	USTED	Y	LOCALFOOD,	EL
        CUAL	ANULA	CUALQUIER	CONTRATO	O	ACUERDO	ANTERIOR,	YA	SEA	ORAL	O	ESCRITO,	Y	CUALQUIER
        OTRA	FORMA	DE	COMUNICACIÓN	ENTRE	AMBAS	PARTES	RELACIONADA	CON	EL	CONTENIDO	DE	ESTE
        ACUERDO.
      </p>

      <h3>Ley Aplicable</h3>
      <p>
        El	Sitio	está	controlado,	gestionado	y	administrado por LocalFood Food Sharing S.L, con domicilio social en	Calle	Jaraiz	de	la	Vera	16	3D	C.P
        28011	Madrid, CIF  B-87335311, sociedad inscrita en el Registro Mercantil de Madrid Tomo 33683, Folio 51, Hoja M-606354. Inscripción Primera.
        Se	puede	acceder	al	Sitio	desde	todas	las	provincias	y	territorios	de	España,	así	como
        desde	cualquier	país	del	mundo.
      </p>
      <p>Dado	que	las	jurisdicciones	poseen	leyes	que	pueden	diferir	de	las	de  España,	al	acceder	a	este	Sitio	Usted	acuerda	y	se	compromete	a	someter	cualquier	asunto	relacionado
        con	el	uso	de	este	Sitio,	o	el	acceso	al	mismo,	a	las	leyes	españolas	que	resulten	de aplicación	(sin
        referencia	a	conflictos	de	principios	legales).
      </p>
      <p>
        Asimismo	Usted	se	compromete	a	someter	cualquier	demanda	o	reclamación	derivadas	de	la	presente	a
        la	jurisdicción	y	competencia	de	los	Tribunales	de	la	Madrid,	España,	y	que	lo	hace	voluntariamente.
      </p>

      <hr>

      <h2 class="text-center">Para usuarios contratantes</h2>
      <p>
        El	usuario	interesado	en	contratar	los	Servicios	de	un	cocinero	a	través	de	LocalFood,	podrá:
      </p><ul>
      <li>Crear	un	perfil	de	usuario.</li>
      <li>Buscar	cocineros	registrados	en	nuestra	web.</li>
      <li>Comunicarse	con	cocineros.</li>
      <li>Valorar	y	opinar	sobre	el	Servicio	recibido por	los	cocineros.</li>
      <li>Acceder	a	otros	Servicios	y	funcionalidades	facilitadas	por	LocalFood.</li>
    </ul>
      El	usuario	acepta	y	es	conocedor	de	que	todos	los	pedidos	están	sujetos	a	la	aceptación	de	los	mismos
      por	parte	del	cocinero.	Los	términos	del	pedido	se	acordarán	entre	el	usuario	y	el	cocinero.	LocalFood	no	es
      responsable	del	desarrollo	del	mismo	ni	de	su	ejecución	y	no	garantiza	que	las	Partes	cumplan	con	las
      obligaciones	acordadas.
      <p></p>
      <h3>Obligaciones del usuario</h3>
      <p>
        Los	Servicios	deberán	utilizarse,	respetando	siempre	estos	términos	de	uso.	El	contenido	y	material	que
        publiques	como	parte	de	tu	perfil,	deberá	cumplir	con	las	reglas	establecidas	en	“creación	de	cuentas	de
        usuario”.
      </p>
      <p>
        Además	serás	responsable	de verificar	el	precio	del	menú solicitado,	que	puede	variar	en	el	tiempo	y
        será	determinado	a	discreción	del	cocinero.
      </p>
      <p>
        Será	tu	responsabilidad	comprobar	que	el	cocinero	cumple	con	los	requisitos	sanitarios	(higiene	y
        seguridad)	,	las	regulaciones	y	leyes	que	apliquen	en	todo	momento.
      </p>
      <p>
        Las	opiniones	y	evaluaciones	de	los	servicios,	deberán	ser	justas,	honestas	y	razonables.
      </p>
      <p>
        Deberás	verificar	toda	la	información	facilitada	por	el	Cocinero	en	relación	con	los	menús	y	los
        ingredientes.
      </p>
      <p>
        Deberás	notificar	inmediatamente	a	LocalFood	en	el	caso de	que	tengas	alguna	razón	para	creer	o
        sospechar	que	un	cocinero	u	otro	usuario,	está	incumpliendo	los	términos	de	servicio	o	que	el	perfil	de
        un	cocinero	no	es	veraz	o	es	falso,	impreciso	o	incompleto.
      </p>

      <h3>Cancelaciones y reembolsos</h3>
      <ol>
        <li>
          <p>
            Aceptas	que	la	cancelación	y	reembolso	establecida	en	la	legislación	sobre	consumidores	no
            será	de	aplicación	a	estos	Servicios.	Sin	embargo,	y	a	menos	que	un	cocinero	establezca	lo
            contrario	expresamente,		la	cancelación	y	reembolso	se	regirán	por	las	siguientes	reglas:
          </p>
          <p>
            Si	cancelas	un	Servicio	comunicándolo al cocinero a través de la plataforma LocalFood.co al menos	72
            horas	antes	de	su	celebración,	podrás	ser	rembolsado	con	el	100%	de	lo	abonado	menos	la
            parte	correspondiente	a		la	comisión	de	LocalFood,	en	parte	destinada	a	pagar	a	la	plataforma
            que gestiona	los	pagos.
          </p>
          <p>
            Si	cancelas	un	Servicio	comunicándolo al cocinero a través de la plataforma LocalFood.co al	menos	24
            horas	antes	de	su	celebración,	podrás	ser	rembolsado	con	el	50%	de	lo	abonado	menos	la	parte
            correspondiente	a	la	comisión	de	LocalFood,	en	parte	destinada	a	pagar	a	la	plataforma
            que	gestiona	los	pagos.
          </p>
          <p>
            No	corresponderá	reembolso	si	cancelas un pedido comunicándolo al cocinero a través de la plataforma LocalFood.co dentro	de
            las	24	horas	anteriores	a	su	celebración

          </p>
          <p>
            No	corresponderá	devolución	íntegra	en	los	casos	de	fuerza	mayor,	si	no	que	podrá	optarse	por
            un	reembolso	del	50%	del	servicio	abonado menos	la	parte	correspondiente	a	la	comisión	de
            LocalFood,	en	parte	destinada	a	pagar	a	la	plataforma	que	gestiona	los	pagos o	la	elección	de	otro
            día	u otro cocinero por	parte	del	usuario,	para	su	cumplimiento.
          </p>
        </li>
      </ol>

      <h3>Exclusión de garantías</h3>
      <ol>
        <li>
          Aceptas	y	das	tu	consentimiento	a	que	los	Servicios	llevados	a	cabo	por	LocalFood	están	limitados	a
          conectar	usuarios	interesados	en	la	comida	preparada	casera	con cocineros locales	que	la
          proveen.	Cuando	contratas	un	Servicio	de	comida	preparada,	LocalFood	no	garantiza:
          <ul>
            <li>Que	los	menús	preparados	serán	de	tu	gusto,	requisitos	dietéticos	específicos	u	otros
              requerimientos.</li>
            <li>Que	el	cocinero	contratado	cumple	con	los	estándares legales	para	el	desarrollo	de	su
              actividad.</li>
            <li>Que	el	perfil	de	los	cocineros	es	auténtico	y	veraz</li>
            <li>Que	la	información	disponible	en	el	perfil	de	un	cocinero,	incluidas	las	recetas,	es	veraz,
              precisa	y	completa.</li>
            <li>La	identidad	del	cocinero	que	se	anuncia	a	través	de	la	web.</li>
          </ul>
        </li>
        <li>Como	usuario,	garantizas	que	solo	adquirirás	los	menús	para	tu	consumo	propio	y	no	para	fines
          comerciales,	incluida la	venta	de	menús	a	otros	consumidores,	la	cual	queda	expresamente
          prohibida.</li>
        <li>LocalFood	no	se	hace	responsable	de	la	calidad	de	los	Menús	entregados	por	los	cocineros.		Los
          términos	de	servicio	de	entrega,	calidad,	precio…,	de	los	menús,	deberán	ser	concertados
          previamente	entre	usuario	y	cocinero.</li>
        <li>En	el	caso	de	que	haya	una	disputa	entre	un	cocinero	y	un	usuario	o	si	el	menú	entregado,	no
          cumple	los	estándares	de	calidad	o	satisfacción	del	usuario,	aceptas	que	LocalFood	no	será
          responsable	en	ningún	sentido	de las	 pérdidas	y	daños	materiales	o	personales sufridos	o
          incurridos	por	el	usuario	con	motivo	del	servicio	de	comida	contratado	de	un	cocinero	y	que
          eximes	a	LocalFood	de	cualquier	reclamación	o	responsabilidad	al	respecto	de	dicha	disputa</li>

        <li>De acuerdo con el Reglamento Europeo de 13 de diciembre de 2014, por el cual se actualizan y modifican las Directivas
          relativas al etiquetado de alimentos envasados, usted tiene derecho a conocer la composición y procedencia de los platos preparados
          que adquiera en cualquier establecimiento físico u online, por lo que no olvide solicitar dicha información a su cocinero,
          y en caso de que este se negara a facilitársela, póngase en contacto con LocalFood, para poder tomar las medidas oportunas al respecto.</li>

      </ol>

      <hr>

      <h2 class="text-center">Para Cocineros</h2>
      <p>
        Si	eres	cocinero	y	estás	interesado	en	el	uso	de	nuestros	Servicios,	deberás	hacerlo	de	acuerdo	con	estos
        términos	y	condiciones	de	servicio,	además	de	aquellos	aquí	establecidos	que	rigen	con	carácter	general
        para	todos	los	usuarios.
      </p>
      <p>
        Será	responsabilidad	del	cocinero,	cumplir	con	la	legislación	vigente	en	esta	materia.	Los	cocineros	que
        quieran	ofrecer	sus	Servicios,	mediante	la	aceptación	de	estos	términos,	manifiestan	conocer	y	cumplir
        con	la	legislación	vigente	en	su	territorio,	así como	tener	todos	los	permisos	y	licencias	necesarios	para
        el	desarrollo	de	los	mismos.
      </p>
      <p>
        Una	vez	registrado	como	cocinero	y	en	cumplimiento	de los	presentes	términos,	LocalFood	te	facilitará	el
        uso	de	los	Servicios	de	acuerdo	con	lo	establecido	en	las	siguientes	cláusulas.
      </p>

      <h3>Registro</h3>
      <p>
        Registrandote	en	LocalFood.co,	consientes	que	LocalFood	efectúe	las	comprobaciones	necesarias	para	verificar
        tu	identidad.	Dicha	verificación	de	identidad	le	distinguirá	de	otros	cocineros	no	verificados	y	otorgará
        mayor	confianza	al	cliente	a	la	hora	de	elegirle	como	proveedor.
      </p>

      <h3>Los servicios</h3>
      <p>
        Los	Servicios	para	preparación	de	comida	comprenden	los	siguientes	puntos:
      </p><ul>
      <li>Asignación	de	perfil	(incluyendo	foto)	al	que	podrán	acceder	los clientes/usuarios	de
        LocalFood.co</li>
      <li>Posibilidad	de	customizar	tu	perfil	añadiendo	información	sobre	tu	experiencia	y
        preferencias	sobre	el	servicio	de	entrega	de	los	platos/menús.</li>
      <li>Anunciar o menús platos	disponibles	para	pedidos.</li>
      <li>Establecer	un	precio	para	los	platos o menús anunciados</li>
      <li>Evaluar	y	comentar	a	otros	usuarios</li>
      <li>Otras	funcionalidades/actualizaciones	que	LocalFood	podrá	ofrecerte.</li>
    </ul>
      <p></p>

      <h3>Perfil</h3>
      <ol>
        <li>Garantizas	que	eres	el	proveedor	de	los	menús anunciados	en	tu	perfil</li>
        <li>Tu	perfil	deberá	contener	al	menos:	información	sobre	tu	identidad,	descripción	de	los	menús
          disponibles,	incluyendo	los	ingredientes	utilizados	y	los	servicios	que	ofreces,	y	el	precio	por	los
          menús.</li>
      </ol>

      <h3>Obligaciones como cocinero</h3>
      <ol>
        <li>Mediante	la	aceptación	de	anunciarte	en	LocalFood	y	registrarte	como	cocinero	para	comercializar
          tus	menús,	manifiestas que	toda	la	información	contenida	en	tu	perfil	respecto	a	la	preparación,
          provisión	y/o	envío	de	los	menús,	y	cualquier	otra	información	facilitada	(incluidas	los
          ingredientes	de	los	menús)	o	comentarios	hechos	a	otros	usuarios:
          <ul>
            <li>Será	veraz,	correcta	y	actualizada</li>
            <li>Cumplirá	con	los	estándares	de	la	industria	en	la	que	operas</li>
            <li>No	vulnerará	ninguna	ley	o	regulación	al	respecto,	incluidas	las	buenas	prácticas	en	cuanto	a
              higiene	en	la	preparación	de	los	menús	y	cuando	resulte	aplicable,	las	normas	de	seguridad
              alimentaria	basadas	en	los	estándares	fijados	por	el	Ministerio	de	Sanidad	para	cada	momento.</li>
            <li>No	contravenir	ni	vulnerar	la	legislación	sobre	sanidad,	consumo	y	e-commerce.</li>
            <li>No	publicar	contenido	ni	comunicarse	con	otros	usuarios	de	manera	obscena,	ofensiva	o
              difamatoria</li>
          </ul>
          Si	cualquier	usuario	intenta	contactarle	directamente,	sin	utilizar	los	servicios	de	LocalFood,	deberá
          ignorarlo	o	de	lo	contrario,	LocalFood	quedará	facultado	para	eliminar	el	perfil	de	usuario	y	cocinero
          implicados.
        </li>
        <li>Haciendo	uso	de	los	Servicios	de	LocalFood:
          <ul>
            <li>Garantizas	ser	el	proveedor	de	los	servicios	anunciados</li>
            <li>Te	comprometes	a	mantener	la	confidencialidad	de	toda	la	información,	comunicación	y
              correspondencia	con	los	usuarios	y	la	información	relativa	a	proceso	de	pedido.</li>
            <li>Te	comprometes	a	notificar	a	LocalFood	cualquier	sospecha	de	incumplimiento	de	estos	términos
              por	parte	de	cualquier	otro	cocinero.</li>
            <li> De acuerdo con el Reglamento Europeo de 13 de diciembre de 2014, por el cual se modifican y actualizan las directivas
              relativas al etiquetado de alimentos, se hace imprescindible cumplir con las normas de etiquetado de los productos
              alimenticios para que los consumidores dispongan de información esencial, legible y comprensible y puedan comprar dichos
              productos con conocimiento de causa. Por motivos de seguridad pública, las nuevas normas refuerzan la protección contra los alérgenos.</li>
            <li> Dicho esto, queda obligado a proporcionar la información relativa a los alérgenos que se encuentren en la composición de los alimentos
              empleados para la elaboración de los platos. Dicha información podrá darse de manera verbal o escrita.
              Para más información, por favor visite el siguiente link, donde encontrará las distintas formas de informar
              al consumidor cumpliendo con la legislación vigente.
              <a href="http://www.madridsalud.es/temas/ALERGENOS_ALIMENTOS_SIN_ENVASAR.pdf">http://www.madridsalud.es/temas/ALERGENOS_ALIMENTOS_SIN_ENVASAR.pdf</a> </li>
          </ul>
        </li>
        <li>Consientes	que	LocalFood,	ante	cualquier	sospecha	de	incumplimiento	de	estos	términos,
          incumplimiento	de	los	estándares	o	requisitos	de	LocalFood	para	anunciarte	en	la	web	o	sospecha de	falsedad	de	tu	perfil,	elimine	dicho	perfil	bajo	su	más	absoluta	discrecionalidad	y	previa
          notificación	por	escrito	al	cocinero.</li>
      </ol>

      <h3>Cargos y pagos.</h3>

      <p>Todos los cargos a usuarios hechos a través de LocalFood.co, se harán y gestionarán mediante la plataforma de pago Stripe Payments Europe, Ltd. (“Stripe”).</p>


      <p>El cliente pagará el precio de los platos o menús incluidos en el pedido, establecido por el cocinero, más la comisión porcentual establecida para LocalFood (en parte destinada a pagar a la plataforma que gestiona los pagos)
        y comunicada al cliente al seleccionar un pedido de un cocinero en la plataforma localfood.co.
        El pago se hará previo a la realización del Servicio, en el momento de solicitarlo via LocalFood.co.</p>

      <p>
        Tras cada pedido, LocalFood emitirá una transferencia a la cuenta bancaria  del cocinero (cuenta indicada por el propio cocinero en su perfil en localfood.co)
        con valor de la cantidad correspondiente al precio de los platos o menús incluidos en el pedido, una vez LocalFood haya recibido la cantidad correspondiente a dicho pedido
        proveniente de la plataforma de pago Stripe (lo que sucede tipicamente entre 7 días  y 10 días después de que el cliente sea cargado) y
        siempre y cuando el servicio se haya completado y no exista ninguna reclamación interpuesta con respecto a ese pedido. </p>

      <p>Si hay alguna queja de cualquiera de las partes implicadas, deberás avisar a LocalFood en un plazo de 24 horas tras la fecha del Servicio.
        LocalFood mediará entre ambas partes cuando sea necesario y tomará la decisión definitiva en todas las disputas.
      </p>

      <p>Para enviar una reclamación válida con el objetivo de recibir un reembolso por el servicio, el cliente/usuario debe (a) informarnos del problema con el Servicio,
        en las 24 horas siguientes a la realización del Servicio (e incluir fotos o cualquier otro tipo de prueba) y responder a nuestras solicitudes de información o
        cooperación, (b) no haber causado de forma directa o indirecta el problema y (c) haber llevado a cabo todos los esfuerzos razonables para intentar remediar
        las circunstancias del problema con el Servicio con el cocinero antes de hacer la reclamación.
      </p>
      <ol>
        <li>	La reclamación se interpondrá por correo electrónico a la dirección support@localfood.co </li>

        <li>	El usuario que pide un reembolso indicará el importe del Reembolso solicitado, que puede ser total o parcial.</li>

        <li>	Es posible, que en el desarrollo de tu actividad, tengas que hacer frente a otros cargos, que te serán notificados
          durante el proceso de registro. Estos cargos no incluyen IVA ni otros impuestos, que de resultar aplicables, deberán ser abonados aparte.</li>


      </ol>




      <h5> © LocalFood 2020. Todos los derechos reservados.</h5>

    </div>
  </div>
</div>
